# .gitignore
__pycache__
venv
env
.pytest_cache
.coverage
.idea
../../.Trash/ND_sandbox/.idea
lightning_logs
Untitled
.ckpt
example.ckpt
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
config.py
data

